html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #022c43;
  --sec-color: #ffd700;
}
body {
  font-family: "Work Sans", sans-serif;
  text-transform: capitalize;
  position: relative;
  background-image: url(../images/body-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* user-select: none; */
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

/*samall*/

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

/*larg*/
@media (min-width: 1200px) {
  .container {
    width: 1120px;
  }
}
/*end of global rules*/

/* start nav-bar section */

@keyframes down {
  0% {
    transform: translate(0px);
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
  }

  100% {
    transform: translate(10px);
    -webkit-transform: translate(10px);
    -moz-transform: translate(10px);
    -ms-transform: translate(10px);
    -o-transform: translate(10px);
  }
}
.up a i {
  color: var(--sec-color);
  font-size: 30px;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: down;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate-reverse;
  z-index: 23456748678974894;
}

.up i:hover {
  animation-play-state: paused;
}
nav {
  background-color: #022c43;
  padding: 5px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
nav .container .all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 20px; */
}

nav ul {
  display: flex;
  list-style: none;
}

ul li a {
  color: #000;
  text-decoration: none;
  margin-left: 30px;
  font-weight: bold;
  color: #fff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

nav .container .all .logo img {
  max-width: 60px;
  margin-top: 5px;
}

ul li a:hover {
  color: #ffd700;
}

.links i {
  color: #fff;
  font-size: 25px;
  position: absolute;
  right: 0;
  display: none;
  cursor: pointer;
}

.links {
  position: relative;
}

@media (max-width: 740px) {
  .links i {
    display: block;
    position: absolute;
    top: -51px;
    right: 26px;
  }

  nav {
    /*height: 450px;
    */
    transition: 2s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .links {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #022c43;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    height: 0px;
  }

  nav ul {
    display: block;
    text-align: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    display: none;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-220px, -13px);
    top: 20px;
    -webkit-transform: translate(-220px, -13px);
    -moz-transform: translate(-220px, -13px);
    -ms-transform: translate(-220px, -13px);
    -o-transform: translate(-220px, -13px);
    z-index: 5456456485648648489;
  }
  nav ul li {
    margin-bottom: 30px;
    font-size: 25px;
    color: #ffd700;
  }

  nav.active {
    height: 450px;
  }

  nav.active ul {
    display: block;
  }

  ul li:hover {
    border-bottom: 1px solid #fff;
  }

  ul li {
    padding-bottom: 15px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .container {
    border-bottom: 1px solid #fff;
  }
}

/* end nav bar section */

.leaders .container .all-members{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
gap: 40px;
}

.leaders .container .all-members .elmy-img img {
  max-width: 100%;
}
.leaders .container .all-members .elmy {
  text-align: center;
  border: 2px solid var(--main-color);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 70px !important;
  color: var(--sec-color);
  margin-bottom: 10px;

}

hr {
  width: 300px;
  background-color: var(--main-color);
  height: 3px;
  margin-bottom: 80px;
}

.container {
  width: 80%;
}

.video video{
  max-width: 600px;
  min-width: auto;
  border: 2px solid var(--main-color);
  padding: 5px;
  margin-top: 30px;
}


@media(max-width: 760px) {
  .video video{

    max-width: 300px;
  }
}

h3 {
  color: #888;
  font-weight: bold;
  font-size: 35px;
}

.fa-facebook-f {
  font-size: 40px;
  color: #3b5998;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.fa-facebook-f:hover,
 .fa-linkedin:hover,
 .fa-github:hover,
 .fa-envelope:hover{
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.fa-linkedin {
  color: #0e76a8;
  font-size: 40px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.fa-github {
  color: #000;
  font-size: 40px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}


.fa-envelope {
  font-size: 40px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  color: rgb(172, 34, 34);
}


i {
  padding: 15px;
}