html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #022c43;
  --sec-color: #ffd700;
}
body {
  font-family: "Work Sans", sans-serif;
  text-transform: capitalize;
  position: relative;
  background-image: url(../images/body-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* user-select: none; */
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

/*samall*/

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

/*larg*/
@media (min-width: 1200px) {
  .container {
    width: 1120px;
  }
}
/*end of global rules*/

/* start nav-bar section */


@keyframes down {
  0% {
    transform: translate(0px);
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
}

100% {
  transform: translate(10px);
  -webkit-transform: translate(10px);
  -moz-transform: translate(10px);
  -ms-transform: translate(10px);
  -o-transform: translate(10px);
}
}
.up a i {
  color: var(--sec-color);
  font-size: 30px;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: down;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate-reverse;
  z-index: 23456748678974894;
}

.up i:hover {
  animation-play-state: paused;
}
nav {
  background-color: #022c43;
  padding: 5px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
nav .container .all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 20px; */
}

nav ul {
  display: flex;
  list-style: none;
}

ul li a {
  color: #000;
  text-decoration: none;
  margin-left: 30px;
  font-weight: bold;
  color: #fff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

nav .container .all .logo img {
  max-width: 60px;
  margin-top: 5px;
}

ul li a:hover {
  color: #ffd700;
}

.links i {
  color: #fff;
  font-size: 25px;
  position: absolute;
  right: 0;
  display: none;
  cursor: pointer;
}

.links {
  position: relative;
}

@media (max-width: 740px) {
  .links i {
    display: block;
    position: absolute;
    top: -51px;
    right: 26px;
  }

  nav {
    /*height: 450px;
    */
    transition: 2s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .links {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #022c43;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    height: 0px;
  }

  nav ul {
    display: block;
    text-align: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    display: none;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-220px, -13px);
    top: 20px;
    -webkit-transform: translate(-220px, -13px);
    -moz-transform: translate(-220px, -13px);
    -ms-transform: translate(-220px, -13px);
    -o-transform: translate(-220px, -13px);
    z-index: 5456456485648648489;
  }
  nav ul li {
    margin-bottom: 30px;
    font-size: 25px;
    color: #ffd700;
  }

  nav.active {
    height: 450px;
  }

  nav.active ul {
    display: block;
  }

  ul li:hover {
    border-bottom: 1px solid #fff;
  }

  ul li {
    padding-bottom: 15px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .container {
    border-bottom: 1px solid #fff;
  }
}

/* end nav bar section */

/* start landing section */

.landing {
  margin-top: 150px;
}
.landing .container .all-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}

.landing .container .all-cont .gif img {
  width: 700px;
}

.landing .container .all-cont .text h2 {
  line-height: 1.8;
  /* padding-right: 25px; */
  max-width: 500px;
  font-size: 30px;
}

.landing .container {
  width: 70%;
}
/* end landing  section */

.landing h1 {
  /* font-size: 75px; */
  color: #022c43;
  border-bottom: 4px solid var(--sec-color);
  padding-bottom: 10px;
  /* max-width: 600px; */
}
@media (max-width: 1354px) {
  .landing .container .all-cont .gif img {
    width: 300px;
  }
  .container {
    width: 80%;
  }
}

@media (max-width: 1007px) {
  .landing .container .all-cont {
    flex-wrap: wrap;
  }
}

@media (max-width: 760px) {
  .landing .container .all-cont {
    display: block;
  }
}

/* end landing section */

/* start about section */
.about {
  margin-top: 100px;
}

.about .container h1 {
  color: var(--sec-color);
  font-size: 60px;
  /* border-bottom: 3px solid var(--main-color); */
  padding-bottom: 5px;
  text-align: center;
  /* width: fit-content; */
  margin-bottom: 0px;
}
.about .container h1 span.us {
  color: var(--main-color);
}
.about .container {
  width: 90%;
}

.about hr {
  width: 300px;
  height: 2px;
  background-color: var(--sec-color);
  outline: 1px solid transparent;
  border: 1ps solid transparent;
}

.about .container .all-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}

.about .container .all-text p {
  font-size: 20px;
  color: #333;
  line-height: 2.5;
  font-weight: bold;
}

@media (max-width: 760px) {
  .about .container .all-text {
    display: block;
  }

  .about .container .all-text p {
    text-align: center;
  }
}

@media (max-width: 760px) {
  .about .container .all-text .image-about img {
    width: 320px;
    position: absolute;
    left: 30px;
  }
}
/* end about section */


/* start gallery section */
.gallery {
  margin-top: 150px;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.containers {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: var(--main-color);
  padding: 2px 16px;
  color: var(--sec-color);
  font-weight: bold;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.gallery h1 {
  color: var(--sec-color);
  font-size: 60px;
  /* border-bottom: 3px solid var(--main-color); */
  padding-bottom: 5px;
  text-align: center;
  /* width: fit-content; */
  margin-bottom: 0px;
}
.gallery h1 span.us {
  color: var(--main-color);
}
.gallery .container {
  width: 90%;
}

.gallery hr {
  width: 300px;
  height: 2px;
  background-color: var(--sec-color);
  outline: 1px solid transparent;
  border: 1ps solid transparent;
  margin-bottom: 30px;
}