html {
  scroll-behavior: smooth;
}

/* main colors */
:root {
  --main-color: #022c43;
  --sec-color: #ffd700;
}
body {
  font-family: "Work Sans", sans-serif;
  text-transform: capitalize;
  position: relative;
  background-image: url(../images/body-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

/*samall*/

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

/*larg*/
@media (min-width: 1200px) {
  .container {
    width: 1120px;
  }
}
/*end of global rules*/

/* animation of row to top */
@keyframes down {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
}

/* icon of row to top */
.up a i {
  color: var(--main-color);
  font-size: 50px;
  /* background-color: var(--main-color); */
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate-reverse;
  z-index: 23456748678974894;
}

.up i:hover {
  animation-play-state: paused;
}

/* start nav bar */
nav {
  background-color: #022c43;
  padding: 5px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999;
}
nav .container .all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 20px; */
}

nav ul {
  display: flex;
  list-style: none;
}

ul li a {
  color: #000;
  text-decoration: none;
  margin-left: 30px;
  font-weight: bold;
  color: #fff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

nav .container .all .logo img {
  max-width: 40px;
  margin-top: 5px;
  margin-right: 5px;
}

ul li a:hover {
  color: #ffd700;
}

.links i {
  color: #fff;
  font-size: 25px;
  position: absolute;
  right: 0;
  display: none;
  cursor: pointer;
}

.links {
  position: relative;
}

@media (max-width: 740px) {
  .links i {
    display: block;
    position: absolute;
    top: -51px;
    right: 26px;
  }
  nav {
    transition: 2s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .links {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #022c43;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    height: 0px;
  }

  nav ul {
    display: block;
    text-align: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    display: none;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-220px, -13px);
    top: 20px;
    -webkit-transform: translate(-220px, -13px);
    -moz-transform: translate(-220px, -13px);
    -ms-transform: translate(-220px, -13px);
    -o-transform: translate(-220px, -13px);
    z-index: 5456456485648648489;
  }
  nav ul li {
    margin-bottom: 30px;
    font-size: 25px;
    color: #ffd700;
  }

  nav.active {
    height: 520px;
  }

  nav.active ul {
    display: block;
  }

  ul li:hover {
    border-bottom: 1px solid #fff;
  }

  ul li {
    padding-bottom: 15px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .container {
    border-bottom: 1px solid #fff;
  }
}

/* end nav bar section */

/* start landing section */

.landing {
  margin-top: 150px;
}
.landing .container .all-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@keyframes updown {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }

  100% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }
}

.landing .container .all-cont .gif img {
  width: 700px;
  animation-name: updown;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-duration: 1s;
}

.landing .container .all-cont .text h2 {
  line-height: 1.8;
  max-width: 500px;
  font-size: 30px;
}

.landing .container {
  width: 70%;
}

.landing h1 {
  color: #022c43;
  border-bottom: 4px solid var(--sec-color);
  padding-bottom: 10px;
}
@media (max-width: 1354px) {
  .landing .container .all-cont .gif img {
    width: 300px;
  }
  .container {
    width: 80%;
  }
}

@media (max-width: 1007px) {
  .landing .container .all-cont {
    flex-wrap: wrap;
  }
}

@media (max-width: 760px) {
  .landing .container .all-cont {
    display: block;
  }
}

/* end landing section */

/* start about section */
.about {
  margin-top: 100px;
}

.about .container h1 {
  color: var(--sec-color);
  font-size: 60px;
  padding-bottom: 5px;
  text-align: center;
  margin-bottom: 0px;
}
.about .container h1 span.us {
  color: var(--main-color);
}
.about .container {
  width: 90%;
}

.about hr {
  width: 300px;
  margin-bottom: 60px;
}

.about .container .all-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .container .all-text p {
  font-size: 20px;
  color: #333;
  line-height: 2.5;
  font-weight: bold;
}

@media (max-width: 760px) {
  .about .container .all-text {
    display: block;
  }

  .about .container .all-text p {
    text-align: center;
  }
}
.about .container .all-text .image-about img {
  animation-name: rotate;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-duration: 3s;
}
@media (max-width: 760px) {
  .about .container .all-text .image-about img {
    width: 320px;
    left: 30px;
  }
}
/* end about section */

/* start gallery section */

img {
  vertical-align: middle;
}

.containers {
  position: relative;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: var(--main-color);
  padding: 2px 16px;
  color: var(--sec-color);
  font-weight: bold;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.gallery h1 {
  color: var(--sec-color);
  font-size: 60px;
  padding-bottom: 5px;
  text-align: center;
  margin-bottom: 0px;
}
.gallery h1 span.us {
  color: var(--main-color);
}
.gallery .container {
  width: 90%;
}

.gallery hr {
  width: 300px;
  margin-bottom: 60px;
}

/* end gallary */

/* start team section */
.team {
  margin-top: 100px;
  margin-bottom: 30px;
}

.team .container h1 {
  color: var(--sec-color);
  font-size: 60px;
  padding-bottom: 5px;
  text-align: center;
  margin-bottom: 0px;
}
.team .container h1 span.us {
  color: var(--main-color);
}

.team hr {
  width: 330px;
  margin-bottom: 60px;
}

.team .container .super {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px !important ;
}

.team .container .super .social {
  text-align: center;
  padding: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.team .container .super .social i {
  display: inline-block;
  padding: 10px;
  font-size: 35px;
}

.team .container .super .omar img {
  max-width: 350px;
  max-height: 500px;
}

.team .container .super .omar {
  position: relative;
  margin-bottom: 20px;
}

.team .container .super .omar h4 {
  position: absolute;
  top: 97px;
  left: 57px;
  font-size: 25px;
  text-align: center;
  color: #fff;
  display: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.team .container .super .sesa::before {
  content: "";
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background-color: #022c439a;
  transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  color: var(--sec-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
}

.team .container .super .bashir::before {
  content: "";
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background-color: #022c439a;
  transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  color: var(--sec-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
}

.team .container .super .sesa:hover::before,
.team .container .super .bashir:hover::before {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}

.team .container .super .omar:hover h4 {
  display: block;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.fa-facebook-f {
  font-size: 20px;
  color: #3b5998;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.social i {
  margin-left: 10px;
  padding: 10px;
  font-size: 30px !important;
}
.fa-facebook-f:hover,
.fa-linkedin:hover,
.fa-github:hover,
.fa-envelope:hover {
  transform: scale(1.3) rotate(730deg);
  -webkit-transform: scale(1.3) rotate(730deg);
  -moz-transform: scale(1.3) rotate(730deg);
  -ms-transform: scale(1.3) rotate(730deg);
  -o-transform: scale(1.3) rotate(730deg);
}

.fa-linkedin {
  color: #0e76a8;
  font-size: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.fa-github {
  color: #000;
  font-size: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.fa-envelope {
  font-size: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  color: rgb(172, 34, 34);
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.coach,
.co-coach {
  margin-bottom: 20px;
  border: 2px solid var(--main-color);
  padding: 10px;
}

.team .logos img {
  max-width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.team .logos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 20px;
}

.mem {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.mem:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

footer {
  text-align: center;
  color: rgba(136, 136, 136, 0.651);
  font-weight: bold;
  font-size: 15px;
  margin-top: 50px;
}

footer a {
  text-decoration: none;
  color: var(--main-color);
}

.super .social h4 {
  text-align: center;
  color: #888;
  font-size: 35px;
  margin: 0;
  padding: 15px;
}

#animation::after {
  content: "|";
  margin-left: 5px;
  animation: type 0.8s infinite;
  -webkit-animation: type 0.8s infinite;
}

@keyframes type {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ll {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ll p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
#loaderr {
  background: #fff url(../images/sidna-mohammed.png) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 8978978556185949289789728972897897189718970894897891787897089728;
}

.contacts-icon {
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
}

.contacts-icon .container i {
  font-size: 40px;
  padding: 10px;
  border: 1px solid;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.contacts-icon .container .fa-facebook {
  color: #3b5998;
}

.contacts-icon .container .fa-facebook:hover {
  background-color: #3b5998;
  color: #fff;
}

.contacts-icon .container i:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.contacts-icon .container .fa-instagram {
  color: rgb(156, 24, 24);
}

.contacts-icon .container .fa-instagram:hover {
  background-image: linear-gradient(
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #f77737,
    #fcaf45,
    #ffdc80
  );
  color: #fff;
}

.contacts-icon .container .fa-twitter {
  color: #1da1f2;
}
.contacts-icon .container .fa-discord {
  color: #7289d9;
}

.contacts-icon .container .fa-discord:hover {
  background-color: #7289d9;
  color: #fff;
  cursor: pointer;
}
.contacts-icon .container .fa-twitter:hover {
  background-color: #1da1f2;
  color: #fff;
}

.contacts-icon .container .fa-github-square {
  color: #000;
}
.contacts-icon .container .fa-github-square:hover {
  background-color: #000;
  color: #fff;
}
.contacts-icon .container .fa-youtube {
  color: #ff0000;
}

.contacts-icon .container .fa-youtube:hover {
  background-color: #ff0000;
  color: #fff;
}

.contacts-icon .container .fa-linkedin-in {
  color: #0e76a8;
}
.contacts-icon .container .fa-linkedin-in:hover {
  background-color: #0e76a8;
  color: #fff;
}

.contacts-icon .container h1 {
  color: var(--sec-color);
  font-size: 60px;
  padding-bottom: 5px;
  text-align: center;
  margin-bottom: 0px;
}
.contacts-icon .container h1 span.us {
  color: var(--main-color);
}

.contacts-icon hr {
  width: 330px;
  margin-bottom: 60px;
}


.dr {
  max-width: 100% !important
}